.header {
  background-color: $color-grey-dark;
  color: $color-white;
  padding: 1rem 4rem;
  margin-bottom: 0.5rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: $font-montserrat;
}