.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-darker;
  color: $color-white;
  padding: 0.1rem 3rem;

  &__left {
    @include flexAbsCenter;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 12rem;
  }

  .search-add {
    display: flex;
    align-items: center;
  }

  &__search {
    display: flex;
    color: white;
    background-color: rgba($color-grey-dark, 0.7);
    padding: 0.3rem 1rem;
    border-radius: 20px;

    form {
      display: flex;

      button {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }

        img {
          width: 1.5rem;
        }
      }

      input {
        background-color: transparent;
        border-bottom: none;
        padding-left: 1rem;
        padding-right: 1rem;
        font-family: $font-montserrat;

        &::placeholder {
          color: rgba($color-grey-light, 0.5);
        }

        &:focus {
          color: $color-white;
          border-bottom: none;

          &::placeholder {
            color: $color-grey-light;
          }
        }
      }
    }
  }

  &__add-entry {
    margin-left: 1.6rem;
    border-radius: 50%;
    background-color: rgba($color-grey-dark, 0.7);
    width: 3rem;
    height: 3rem;
    @include flexAbsCenter;

    img {
      width: 1.5rem;
    }
  }

  &__profile {
    margin-left: 6rem;

    &-image {
      width: 4rem;
      border-radius: 50%;
    }
  }
}