.main {
  height: 100%;
  width: 100%;
  display: flex;

  @include responsive(sm) {
    flex-direction: column;
  }

  &__sidenav {
    flex-basis: 10%;

    @include responsive(sm) {
      display: flex;
    }
  }

  &__content {
    flex-grow: 1;
  }
}