.button {
  display: inline-block;
  padding: 1rem 4rem;
  font-family: $font-montserrat;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: $color-primary;
  box-shadow: 0 2px 20px rgba($color-black, 0.3);
  color: $color-white;
  border-radius: 50px;
  border: none;
  transition: 0.2s linear;


  &:hover {
    background-color: $color-primary;
    cursor: pointer;
    transform: scale(1.02);
  }

  &:focus {
    outline: none;
    transform: scale(1.02);
  }

  &:disabled,
  &[disabled] {
    background-color: $color-primary-lighter;
    cursor: not-allowed;

    &:hover,
    &:focus {
      transform: none;
    }
  }


  @include responsive(sm) {
    padding: 0.5rem 1.5rem;
  }
}