.button {
  display: inline-block;
  padding: 1rem 4rem;
  font-family: $font-montserrat;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: $color-primary;
  box-shadow: 0 2px 20px rgba($color-black, 0.3);
  color: $color-white;
  border-radius: 50px;
  border: none;
  transition: 0.2s linear;

  &:hover {
    background-color: $color-primary;
    cursor: pointer;
    transform: scale(1.02);
  }

  &:focus {
    outline: none;
    transform: scale(1.02);
  }

  &:disabled,
  &[disabled] {
    background-color: $color-primary-lighter;
    cursor: not-allowed;

    &:hover,
    &:focus {
      transform: none;
    }
  }


  @include responsive(sm) {
    padding: 1rem 2rem;
  }
}

.outline-button {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 100px;
  background-color: $color-grey-dark;
  color: $color-white;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  background-color: $color-primary;
  box-shadow: 0 2px 10px rgba($color-black, 0.3);

  &:hover,
  &:focus {
    background-color: darken($color-primary, 10%);
  }

  &--primary {
    background-color: $color-primary;

    &:hover,
    &:focus {
      background-color: darken($color-primary, 10%);
    }
  }

  &--danger {
    background-color: $color-danger;

    &:hover,
    &:focus {
      background-color: darken($color-danger, 10%);
    }

    &:disabled,
    &[disabled] {
      background-color: lighten($color-danger, 10%);
      cursor: not-allowed;

      &:hover,
      &:focus {
        transform: none;
      }
    }
  }

  &:focus {
    outline: none;
  }

  span {
    margin-right: 1rem;
    font-size: 1.2rem;
  }

  svg {
    width: 1.2rem;
    height: 1.2rem;
    fill: currentColor;
  }


}