.viewer {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;

  &__controls {
    background-color: lighten($color-grey-light, 43%);
    padding: 1rem 3rem;
    border-radius: 1px;
    display: flex;
    justify-content: flex-end;

    button:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &__entry {
    flex-grow: 1;
    overflow: auto;

    .entry {
      padding: 1rem 3rem;
      display: flex;
      flex-direction: column;
      background-color: $color-entry-selected;

      @include responsive(sm) {
        padding: 1rem 1.5rem;
      }

      &__date-location {
        display: flex;
        justify-content: space-between;
        color: $color-grey-light;
      }

      &__date {
        font-family: $font-dosis;
        font-size: 1.3rem;
        margin: 0.5rem 0;
      }

      &__location {
        display: flex;
        align-items: center;

        svg {
          fill: currentColor;
          width: 2rem;
          height: 2rem;
        }

        span {
          margin-left: 1rem;
        }
      }

      &__title {
        font-family: $font-montserrat;
        color: $color-primary;
        font-weight: 600;
        font-size: 2.5rem;
        margin: 0.5rem 0 2rem;
      }

      &__content {
        font-size: 1.2rem;
        line-height: 1.7;
        color: $color-grey-darker;

        @include responsive(sm) {
          font-size: 1.3rem;
        }

        p {
          margin: 2rem 0;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &__image {
        text-align: center;

        img {
          width: 60%;
          border-radius: 3px;

          @include responsive(sm) {
            width: 80%;
          }
        }
      }
    }
  }
}