@mixin flexAbsCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (max-width: 37.5em) { @content };
  }
  @if $breakpoint == md {
    @media only screen and (max-width: 56.25em) { @content };
  }
  @if $breakpoint == lg {
    @media only screen and (max-width: 75em) { @content };
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: 112.5em) { @content };
  }
}

/* NOTES
  
  ==============================
  1. Media Query (Desktop-First)
  ==============================

  1em = 16px
  sm (0 to 600px)
  md (600 to 900px)
  lg (900 to 1200px)
  xl (1800px to ∞)
  default styles are applied at (1200 to 1800px)
*/