// COLORS
$color-primary: #4B39C1;
$color-primary-light: #6C63FF;
$color-primary-lighter: #7d77f7;
$color-primary-lightest: #BEBBF6;
$color-primary-gradient-start: #895BF2;
$color-primary-gradient-finish: #4B39BF;
$color-danger:rgb(218, 72, 101);
$color-grey: #EFEEF1;
$color-grey-darker: #222222;
$color-grey-dark: #444444;
$color-grey-light: #888888;
$color-black: #000000;
$color-white: #FFFFFF;
$color-entry: #EFEEF1;
$color-entry-selected: #FAF9FC;

// FONTS
$font-open-sans: 'Open Sans',
sans-serif;
$font-montserrat: 'Montserrat',
sans-serif;
$font-roboto: 'Roboto',
sans-serif;
$font-dosis: 'Dosis',
sans-serif;
$font-size-default: 1.6rem;

// Z-INDEXES
$z-index-modal: 10;
$z-index-menu-item: 5;
$z-index-profile-editor: 15;