// COLORS
$color-primary: #6C63FF;
$color-primary-dark: #4B39C1;
$color-primary-gradient-start: #895BF2;
$color-primary-gradient-finish: #4B39BF;
$color-danger:#CC657ACC;
$color-grey-darker: #222222;
$color-grey-dark: #444444;
$color-grey-light: #888888;
$color-black: #000000;
$color-white: #FFFFFF;

// FONTS
$font-open-sans: 'Open Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-dosis: 'Dosis', sans-serif;
$font-size-default: 1.6rem;